body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

a {
    text-decoration: inherit;
    color: inherit;
    /* cursor: auto; */
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

ul.headerLinks {
    gap: 12px;
    font-size: 18px;
    color: #f9faf8;
    font-weight: 400;
}

ul.licenses {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.firstContainer {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding: 0px 300px 56px;
}

.firstContainerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 32px 0px;
    gap: 64px
}

.headerMusicContainer {
    display: flex;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
}

.headerText {
    color: #f9faf8;
    font-size: 24px;
}

.welcome {
    margin: 0px;
    padding: 0px;
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.welcomeText {
    font-size: 18px;
    color: #f9faf8;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
}

.firstContainerButton,
.ctaButton {
    background-color: #3882f6;
    padding: 8px 32px;
    border-radius: 8px;
    font-size: 16px;
    color: #f9faf8;
    font-weight: bold;
}

.ctaButton {
    border: 2px solid white;
}

.secondContainer {
    background-color: #f9faf8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 300px 56px;
}

.secondContainerHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondContainerTitle {
    /* margin: 0px;
    padding: 0px; */
    color: #1f2937;
    font-size: 36px;
    font-weight: 800;
}

.licenseContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.licenseTypeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
}

ul.licenses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.thirdContainer {
    background-color: #E5E7EB;
    color: #1f2937;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 300px 56px;
}

.quoteText {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}

figcaption,
cite {
    color: #1f2937;
    font-size: 20px;
    font-weight: 700;
}

.footer {
    background-color: #1f2937;
}

.fourthContainer {
    background-color: #f9faf8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: 56px 300px;
}

.callToAction {
    background-color: #3882f6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 28px 112px;
    border-radius: 8px;
}

.ctaInfo {
    color: #f9faf8;
}

.footer {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 28px 112px;
    color: #f9faf8;
}